@font-face {
  font-family: 'iconfont';  /* project id 1105957 */
  src: url('//at.alicdn.com/t/font_1105957_kbxqc10k9fq.eot');
  src: url('//at.alicdn.com/t/font_1105957_kbxqc10k9fq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1105957_kbxqc10k9fq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1105957_kbxqc10k9fq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1105957_kbxqc10k9fq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1105957_kbxqc10k9fq.svg#iconfont') format('svg');
}
